@media screen and (max-width: 1400px) {
  #profile {
    margin: 0px 0px 80px 0px;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  #hamburger-nav {
    display: flex;
  }
}
/* Default styles */
/* Mobile Devices */
@media (max-width: 480px) {
  .logo {
    font-size: 20px;
    margin: 65px 0px 0px 0px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0vh;
  }
  .nav-links {
    border-radius: 8px;
    position: fixed;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
  .section__text p {
    font-weight: 600;
    font-size: 20px;
  }
  .title1 {
    font-size: 30px;
    background: linear-gradient(to top, rgb(163, 163, 163) 10%, #000 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title {
    font-size: 26px;
    margin-bottom: 35px;
  }
  .section__pic-container {
    display: none;
  }
  button {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 12px;
    width: 115px;
    border-radius: 8px;
  }
  .icon {
    cursor: pointer;
    height: 20px;
  }
  #profile {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    height: 100vh;
    margin: 0px;
  }
  section {
    margin: 0 3rem;
  }
  .container-1 {
    display: none;
  }
  .section__text__p1 {
    text-align: center;
    font-size: 20px;
  }
  .section-container {
    display: flex;
    flex-direction: column;
  }
  #about {
    overflow: hidden;
  }
  .about-pic {
    width: 74%;
    height: -moz-fit-content;
    height: fit-content;
    display: none;
  }
  .about-container, .about-details-container {
    display: flex;
    flex-direction: column;
  }
  .experience-sub-title {
    font-size: 20px;
  }
  .contact-info-upper-container {
    padding: 0px;
    margin: 15px -36px;
  }
  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact {
    height: 90vh;
  }
  .icon-arrow {
    height: 30px;
    width: 30px;
    position: absolute;
    right: -27px;
    bottom: 100px;
  }
  footer {
    height: 23vh;
    margin: 0 auto;
  }
}
/* Small Tablets and iPads (Portrait) */
@media (min-width: 481px) and (max-width: 767px) {
  #profile {
    height: 60vh;
  }
  .title1 {
    font-size: 3rem;
  }
  .section__text p {
    font-size: 35px;
  }
  .title {
    font-size: 2rem;
  }
  section {
    margin: 0 80px;
  }
  .section__pic-container {
    display: none;
  }
  .about-container, .about-details-container {
    display: flex;
    flex-direction: column;
  }
  #contact {
    height: 30vh;
  }
  .contact-info-upper-container {
    margin: 32px 0px 0px 0px;
  }
  .icon {
    cursor: pointer;
    height: 3rem;
    height: 25px;
  }
  .icon-arrow {
    height: 50px;
    width: 50px;
    position: absolute;
    right: -2rem;
    bottom: 2.5rem;
  }
}
/* Tablets and iPads (Landscape) */
@media (min-width: 768px) and (max-width: 1024px) {
  #profile {
    height: 60vh;
  }
  .title1 {
    font-size: 3rem;
  }
  .section__text p {
    font-size: 35px;
  }
  .title {
    font-size: 2rem;
  }
  section {
    margin: 0 80px;
  }
  .section__pic-container {
    display: none;
  }
  .about-container, .about-details-container {
    display: flex;
    flex-direction: column;
  }
  .contact-info-upper-container {
    margin: 32px 0px 0px 0px;
  }
  .icon {
    cursor: pointer;
    height: 3rem;
    height: 25px;
  }
  .icon-arrow {
    height: 50px;
    width: 50px;
    position: absolute;
    right: -2rem;
    bottom: 2.5rem;
  }
}
/* Small Laptops and Desktops */
/* Large Screens (Desktops, TVs) *//*# sourceMappingURL=mediaquries.css.map */