* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url(Poppins-Regular.ttf);
}
@font-face {
  font-family: "GaMaamli";
  src: url(GaMaamli-Regular.ttf);
}
body {
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
  line-height: 1.6;
}

a, .btn {
  transition: all 300ms ease;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

#hamburger {
  margin: auto 0;
  display: none;
  cursor: pointer;
  transition: 0.3s;
}

#hamburger div {
  width: 35px;
  height: 3px;
  background-color: #123E52;
  margin: 6px 0;
  transition: 0.3s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #123E52;
  height: 90vh;
  margin-top: 33px;
}

.menu {
  display: none;
  position: absolute;
  left: 0;
  height: 550px;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 35px;
  font-family: "GaMaamli";
}

.logo:hover {
  cursor: default;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  display: none;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  background-color: white;
  width: 190px;
  height: 325px;
  overflow: hidden;
  top: 35px;
  right: 0px;
}
.menu-links li, .menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.section__text h1 span.typed-text {
  font-weight: normal;
  color: black;
}

.section__text h1 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.section__text h1 span.cursor.typing {
  animation: none;
}

section {
  margin: 0 50px;
  box-sizing: border-box;
}

.section-1 {
  color: black;
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90vh;
  left: 5vh;
  max-width: 415px;
}

.container-1 .time {
  display: flex;
  align-items: center;
}

.container-1 .time .time-colon {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.am_pm {
  position: absolute;
  top: 0;
  right: -30px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.time-text {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.time .time-colon .time-text,
.time .time-colon .colon {
  font-size: 20px;
}

.colon {
  font-size: 25px;
}

.time .time-colon {
  font-size: 40px;
  margin: 0 10px;
}

.time .time-colon .time-text .text {
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 2px;
}

.profile-picture1 {
  border-radius: 2rem;
}

.section-container {
  display: flex;
}

#profile {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  height: 85vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
  font-size: 45px;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.section__text__p11 {
  background: linear-gradient(to top, #000 30%, rgb(163, 163, 163) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title1 {
  font-size: 3rem;
  background: linear-gradient(to top, rgb(163, 163, 163) 10%, #000 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
}

.icon {
  cursor: pointer;
  height: 3rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 20px 0px 0px 0px;
}

button {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 12px;
  width: 192px;
  border-radius: 8px;
}

.btn-color-1, .btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  background: rgb(255, 255, 255) 0.1rem solid;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.text-container {
  width: 100%;
}

#about {
  position: relative;
}

.edu-span {
  font-weight: 800;
}

.about-pic {
  border-radius: 8px;
  height: 400px;
  width: 270px;
}

.icon-arrow {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 2rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 8px;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-container {
  gap: 4rem;
  margin: 0px 0px 80px 0px;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
  display: none;
}

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  gap: 1rem;
}

article .icon {
  cursor: default;
}

#projects {
  display: flex;
  flex-direction: column;
}

.projects-details-container, .projects-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  top: 20px;
}

.project-img {
  width: 100%;
  height: auto;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-centre {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-centre-title h2 {
  font-weight: 600;
  color: #a363a3;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-centre-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: 1px solid black;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-centre textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs::-moz-placeholder {
  color: grey;
}

.contact-inputs::placeholder {
  color: grey;
}

.contact-centre button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  width: 400px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background-color: black;
  cursor: pointer;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#footer {
  position: relative;
}
#footer img {
  transform: rotate(180deg);
}

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}/*# sourceMappingURL=styles.css.map */